@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('http://xcninety.github.io/fonts/IBMPlexSansKR-Regular.woff2') format('woff2'),
         url('http://xcninety.github.io/fonts/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
