@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src:
        url("./NanumBarunGothic.woff2") format("woff2"),
        url("./NanumBarunGothic.woff") format("woff"),
        url("./NanumBarunGothic.ttf")  format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src:
        url("./NanumBarunGothicBold.woff2") format("woff2"),
        url("./NanumBarunGothicBold.woff") format("woff"),
        url("./NanumBarunGothicBold.ttf")  format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400 700;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.21.woff2) format('woff2');
  unicode-range: U+2588;
}
